@model TheMaxieInn.ViewModels.DogReservationViewModel

@{
    ViewData["Title"] = "Create a Reservation";
}

<h3 class="text-center text-white fw-bold">Make Your Reservation Today!</h3>
<br />

<h5 class="text-center text-white fw-bold">Select your reservation dates:</h5>

<div class="row">
    <div class="text-center">
<form asp-action="CreateReservation" method="post">

    <div class="row justify-content-center">
        <label asp-for="CheckInDate"></label>
        <input asp-for="CheckInDate" type="date"  id="CheckInDate" class="form-control" required />
        <span asp-validation-for="CheckInDate" class="text-danger"></span>
    </div>
    <hr />
    <div class="row justify-content-center">
        <label asp-for="CheckOutDate"></label>
        <input asp-for="CheckOutDate" type="date" id="CheckOutDate" class="form-control" />
        <span asp-validation-for="CheckOutDate" class="text-danger"></span>
    </div>
    <hr />
    <div class="row justify-content-center text-white">
        <label>Total Reservation Cost: </label>
                <span id="totalCalculatedCost"><u><b>$0.00</b></u></span>
    </div><br />

    <button type="submit" class="btn btn-light btn-outline-warning fw-bold">Next</button>

</form>
    </div>
</div>

@section Scripts {
    <script>
        function updateTotalCost() {
            const checkInDateValue = document.getElementById("CheckInDate").value;
            const checkOutDateValue = document.getElementById("CheckOutDate").value;        

        const checkInDate = new Date(checkInDateValue);
        const checkOutDate = new Date(checkOutDateValue);
        const pricePerNight = 40;

        const totalDays = Math.max(0, (checkOutDate - checkInDate) / (1000 * 60 * 60 * 24));
        const totalCost = totalDays * pricePerNight;

        document.getElementById("totalCalculatedCost").innerHTML = `<b>$${totalCost.toFixed(2)}</b>`;
     }

    document.getElementById("CheckInDate").addEventListener("change", updateTotalCost);
    document.getElementById("CheckOutDate").addEventListener("change", updateTotalCost);
        
    </script>
}