﻿﻿@{
    ViewData["Title"] = "About Us";
}

<div class="container text-center">
    <div class="clearfix">
        <img src="~/images/max.jpg" id="max" class="rounded col-md-3 float-md-start mb-1 ms-md-3 me-3" alt="max the jack russell" />

        <h3 class="h-aboutus text-start fs-2 fw-bolder text-decoration-underline" style="color:ghostwhite; font-family:Garamond">Our Inspiration: Maxie!</h3>
        <p class="p-aboutus text-start fs-5" style="color:ghostwhite; font-family:Garamond; font-weight:bold">
            The Maxie Inn first came as inspiration to dog lover Karen Barajas in 2020. After searching high and low for the perfect furry companion, Karen finally found Max at South Bend's Animal Resource Center (SBARC). The moment she first laid eyes on Maxie she knew he was the one. At first, he was trembling and scared at SBARC, yet when he finally laid on his dog bed in Karen's home he knew he was not only safe, but had finally found his forever home.
        </p>

        <p class="p-aboutus text-start fs-5" style="color:ghostwhite; font-family:Garamond; font-weight:bold">
            The expression on Maxie's face as he slept in his bed made Karen think to herself, "What if I could make any dog feel like they're home, even when they're away from home?" This realization, plus her love for dogs, quickly turned into a business endeavor to create a dog inn where dog owners felt comfortable leaving their pets knowing they're in a safe place.
        </p>        

        <p class="p-aboutus text-start fs-5" style="color:ghostwhite; font-family:Garamond; font-weight:bold">
            The Maxie Inn first opened in March of 2022 and quickly established its mark in the neighborhood of Brighton Park. A dog inn first of its kind in the area, it quickly became popular among dog owners in Brighton Park and the city of Chicago. Not only known for its excellent service, but also for its heart when it comes to making your dog feel right at home. If you're looking for a great place for your dog to stay, don't look any further and come on by to the Maxie Inn! To receive more information, <a asp-controller="Home" asp-action="ContactUs" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">click here</a>.<br /><br />

            Or, to make a reservation, <a asp-controller="DogReservations" asp-action="Create" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">click here</a>.<br />
        </p>
    </div>
</div>
<br />