@{
    ViewData["Title"] = "Home Page";
}

<img src="https://as1.ftcdn.net/v2/jpg/06/21/35/28/1000_F_621352877_5slUuPj3buXU6eFA5EGt7mx1Y7DJ0P8Q.jpg" class="img-fluid rounded mx-auto d-block" id="suitcases" alt="dog laying ontop of suitcases" />
<br />

<p class="text-center fw-bold fs-5 mx-5" style="color:ghostwhite; font-family:Garamond">
    Going out of town and have no one to watch your best furry friend? Whatever the case may be, look no further than The Maxie Inn! The Maxie Inn is an up and coming dog inn located in the Brighton Park neighborhood in Chicago. Referred to by our patrons as a home away from home for their dogs, we continuously strive to offer the best service and a safe haven for your furry friend while they are away from their actual home. We not only offer boarding services, but also daycare, grooming and training services. Want to read our story? <a href="aboutus.html" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Click here!</a>
</p>
<br />

<div class="callout text-warning text-center fw-bold fs-5 pt-3" style="color:ghostwhite; font-family:Garamond">
    <p>The Maxie Inn encourages adopting, not shopping for pets!<hr /> Want to learn more about the adoption process? <hr /> <a href="https://bestfriendspetcare.com/pet-adoption-everything-you-need-to-know/" style="color:ghostwhite">Click here</a> for a guide on what it means to adopt a pet.</p>
</div>
<br />