﻿﻿@{
    ViewData["Title"] = "Location";
}

<div class="clearfix">
    <img src="https://as1.ftcdn.net/v2/jpg/01/72/63/22/1000_F_172632202_TBLD8BVYhFc4ky8yaqGGRR7WhswY9JUT.jpg" class="rounded col-sm-3 float-sm-start mx-5" id="map" alt="chicago map">
    <img src="https://as2.ftcdn.net/v2/jpg/02/12/91/15/1000_F_212911544_o49RP09OiZ2nJTgzjoeJTgDsQhIGcB5H.jpg" class="rounded col-sm-3 float-sm-end mx-5" id="doginn" alt="multiple dogs inside dog inn seen through windows"><br /><br />
    <p class="text-center fw-bold fs-5" style="color:ghostwhite; font-family:Garamond">
        Located in the Brigthon Park neighborhood in the southside of Chicago, Illinois. <br /> Only a few blocks from Brighton Park's well known McKinley Park.
    </p>
</div>
<br />