﻿﻿@{
    ViewData["Title"] = "Our Services";
}

<h1 class="text-light text-center fw-bolder" style="font-family:Garamond">Our Services</h1>
<div class="table-responsive">
    <table class="table-center">
        <tr>
            <td>
                <img src="https://as2.ftcdn.net/v2/jpg/03/03/38/63/1000_F_303386394_ELKGMg7iUzdsUjtGXxAJ0vTCNHSiCh2H.jpg" class="rounded" id="dogSuitcase" alt="jack russell laying inside orange suitcase" />
            </td>
            <td class="fs-5">Boarding</td>
            <td>
                <img src="https://as2.ftcdn.net/v2/jpg/00/52/92/49/1000_F_52924966_2iABJVRyOiT4dI4cGzvzdiazsyeEDiv6.jpg" class="rounded" id="dayCare" alt="multiple dogs playing in playground" />
            </td>
            <td class="fs-5 pe-4">Daycare</td>
        </tr>
        <tr>
            <td>
                <img src="https://as2.ftcdn.net/v2/jpg/01/23/68/37/1000_F_123683705_wdDKIViMh0DktPrbV8iN7gp2wfmsTpeF.jpg" class="rounded" id="dogGrooming" alt="dog groomer grooming dog" />
            </td>
            <td class="fs-5">Grooming</td>
            <td>
                <img src="https://as1.ftcdn.net/v2/jpg/01/11/96/36/1000_F_111963653_mJUhgcvZnmRj3Fu44WIK9TpYYBc4WeC8.jpg" class="rounded" id="dogTraining" alt="jack russell giving paw" />
            </td>
            <td class="fs-5 pe-4">Training</td>
        </tr>
    </table>
</div>
<br />